{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}<div align="center"> Login{% endblock %} </div>
{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <style>
.temp123
{
margin: 0 auto;
margin-left: auto;
margin-right: auto;
text-align:center;
}

    label {
    width: 110px;
    height: 40px;
}

    h1 {
    font-size: 27px;
        text-align: center;
}

</style>



    <form method="post" action=".">{% csrf_token %}
       <div border="0">
            <tr><th> <div class ="temp123">  <label  for="id_username">Username:</label></th><td>{{ form.username }}</td></tr> </div>
           <tr><th><div class ="temp123">  <label for= "id_password">Password:</label></th><td>{{ form.password }}</td></tr>  </div>
        </table>
    </form>
    <br/>
        <div class ="temp123">    <input type="submit" value="Login" />  </div>
        <input type="hidden" name="next" value="/home" />

    </form>
     <h1><a href="/register">Register</a></h1>
{% endblock %}